<%= form_for(@person, :builder => BootstrapFormBuilder) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

    <%= f.text_field :BSA_ID %>
    <%= f.text_field :first_name %>
    <%= f.text_field :nickname %>
    <%= f.text_field :middle_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :title %>
    <%= f.text_field :suffix %>
    <%= f.date_select :dob, :start_year => 100.years.ago.year, :end_year => 5.years.ago.year, :default => nil, :order => [:month, :day, :year], :prompt => [:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'] %>
    <%= f.text_field :phone %>
    <%= f.text_field :email %>
    <%= f.text_area :address, :rows => 3  %>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    
  <div class="actions">
    <%= f.submit 'Save Data', :class => 'btn' %> or <%= link_to 'Cancel', :back, :class => 'btn'  %>

<% end %>
