<%= form_for(@division) do |f| %>
  <% if @division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
      <% @division.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :name %><div class="input"><%= f.text_field :name %></div>
  </div>
  <div class="clearfix">
    <%= f.label :council_id %><div class="input"><%= f.select :council_id, options_from_collection_for_select(Council.all, "id", "name", @division.council_id) %></div>
  </div>
  <div class="actions">
    <%= f.submit "Save Division", :class => 'btn' %> or <%= link_to 'cancel', :back %>
  </div>
<% end %>
