<%= form_for(@council, :builder => BootstrapFormBuilder) do |f| %>
  <% if @council.errors.any? %>
    <div class="alert-message block-message error">
      <p><strong><%= pluralize(@council.errors.count, "error") %> prohibited this council from being saved:</strong></p>

      <ul>
      <% @council.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.text_field :name %>
  <%= f.text_field :number, :class => 'span1' %>
  
  <div class="actions">
    <%= f.submit 'Save Council', :class => 'btn' %> or <%= link_to 'cancel', :back %>
  </div>
<% end %>
