<h1>Listing councils</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @councils.each do |council| %>
  <tr>
    <td><%= council.number %></td>
    <td><%= council.name %></td>
    <td class="span2"><%= link_to 'Show', council, :class => 'btn' %></td>
    <td class="span2"><%= link_to 'Edit', edit_council_path(council), :class => 'btn' %></td>
    <td class="span2"><%= link_to 'Destroy', council, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Council', new_council_path, :class => 'btn primary large' %>
