<%= form_for(@roundtable) do |f| %>
  <% if @roundtable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roundtable.errors.count, "error") %> prohibited this roundtable from being saved:</h2>

      <ul>
      <% @roundtable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :district_id, :value =>  @roundtable.district_id %>

  <div class="field">
    <%= f.date_select :happened_on %>
    <%= f.select :program_id, options_from_collection_for_select(Program.all, "id", "name", @roundtable.program_id) %>
    Units: <%= f.number_field :num_units, :size => 4 %>
    Individuals: <%= f.number_field :num_individuals, :size => 4 %>
    Email: <%= f.text_field :email %>
    <%= f.submit %>
<% end %>
