<%= form_for(@roundtable) do |f| %>
  <% if @roundtable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roundtable.errors.count, "error") %> prohibited this roundtable from being saved:</h2>

      <ul>
      <% @roundtable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<table>
		<tr>
			<td>Date of Roundtable</td><td><%= f.date_select :happened_on %></td>
		</tr>
		<tr>
			<td>District</td><td><%= f.select :district_id, options_from_collection_for_select(District.all, "id", "name", @roundtable.district_id) %></td>
		</tr>
		<tr>
			<td>Program</td><td><%= f.select :program_id, options_from_collection_for_select(Program.all, "id", "name", @roundtable.program_id) %></td>
		</tr>
		<tr>
			<td>Units</td><td><%= f.number_field :num_units, :size => 4 %></td>
		</tr>
		<tr>
			<td>Individuals</td><td><%= f.number_field :num_individuals, :size => 4 %></td>
		</tr>
		<tr>
			<td>Email</td><td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td></td><td><%= f.submit 'Record Roundtable', :class => 'btn' %></td>
		</tr>  
	</table>
<% end %>
