<%= form_for(@district) do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% @district.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  Council:<br />
  <%= @district.council.name %><br /><br />
  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.select :division_id, options_from_collection_for_select(Division.where(:council_id => @district.council), "id", "name", @district.division_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
