<h1>Listing districts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @districts.each do |district| %>
  <tr>
    <td><%= district.name %></td>
    <td class="span1"><%= link_to 'Show', district, :class => 'btn primary' %></td>
    <td class="span1"><%= link_to 'Edit', edit_district_path(district), :class => 'btn' %></td>
    <td class="span1"><%= link_to 'Delete', district, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New District', new_district_path %>
