<p id="notice"><%= notice %></p>

<h1>Roundtables for <%= @district.name %></h1>

<%= link_to 'Roundtables', district_roundtables_path(@district) %><br /><br /><br />

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
