<p id="notice"><%= notice %></p>

<h1>Roundtables for <%= @district.name %></h1>

<%= render 'roundtables/list' %>

<br />

<%= link_to 'New Roundtable', new_roundtable_path %>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
