<h1>Listing chapters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lodge</th>
    <th>District</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
    <td><%= chapter.name %></td>
    <td><%= chapter.lodge.name %></td>
    <td><%= chapter.district.name if chapter.district.present? %></td>
    <td class="span2"><%= link_to 'Show', chapter, :class => 'btn' %></td>
    <td class="span2"><%= link_to 'Edit', edit_chapter_path(chapter), :class => 'btn' %></td>
    <td class="span2"><%= link_to 'Delete', chapter, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %></td>
  </tr>
<% end %>
</table>

<br />

<% header = '<h3>New Chapter</h3>'%>
<% body = capture do %>
  <%= render :partial => 'chapters/form', :locals => {:modal_flag => true} %>
<% end %>

<%= render_popup(nil,'chapter', 'New Chapter', header, body)%>