<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chapter.name %>
</p>

<p>
  <b>Lodge:</b>
  <%= @chapter.lodge_id %>
</p>

<p>
  <b>District:</b>
  <%= @chapter.district_id %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
