<p id="notice"><%= notice %></p>
<ul class="breadcrumb">
  <li><%= link_to @chapter.lodge.name, @chapter.lodge %> <span class="divider">/</span></li>
  <li class="active"><%= @chapter.name %></li>
</ul>

<p>
  <b>Name:</b>
  <%= @chapter.name %>
</p>

<p>
  <b>Lodge:</b>
  <%= @chapter.lodge_id %>
</p>

<p>
  <b>District:</b>
  <%= @chapter.district_id %>
</p>

<table>
  <tr>
    <th>Name</th>
  </tr>
<% @oa_memberships.each do |oa_membership| %>
  <tr>
    <td><%= oa_membership.name %></td>
  <tr>
<% end %>
</table>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
