<%= form_for(@unit, :builder => BootstrapFormBuilder) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :number %>
  <div class="clearfix">
    <%= f.label :program_id %><div class="input"><%= f.select :program_id, options_from_collection_for_select(Program.all, "id", "name", @unit.program_id) %></div>
	</div>
	<div class="clearfix">
    <%= f.label :organization_id %><div class="input"><%= f.select :organization_id, options_from_collection_for_select(Organization.all, "id", "name", @unit.organization_id) %></div>
  </div>
  <div class="clearfix">
    <%= f.label :council_id %><div class="input"><%= select_tag :council_id, options_from_collection_for_select(Council.all, "id", "name") %></div>
  </div>
  <div class="clearfix">
    <%= f.label :district_id %><div class="input"><%= f.grouped_collection_select :district_id, Council.order(:name), :districts, :name, :id, :name, include_blank: true %></div>
  </div>
  <div class="clearfix">
    <%= f.label :meeting_address %><div class="input"><%= f.text_area :meeting_address, :rows => 3 %></div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => 'btn' %> or <%= link_to 'cancel', :back %>
  </div>
<% end %>
