<h1>Listing units</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Program</th>
    <th>Organization</th>
    <th>District</th>
    <th>Meeting address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= unit.program.name %></td>
    <td><%= unit.charter.name %></td>
    <td><%= unit.district.name %></td>
    <td><%= simple_format(unit.meeting_address) %></td>
    <td><%= link_to 'Show', unit, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', unit, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path, :class => 'btn primary large' %>
