<!DOCTYPE html>
<html>
<head>
  <title>Scoutr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar" data-dropdown="dropdown">
	      <div class="topbar-inner">
	        <div class="container">
	          <h3><a href="#">Scoutr</a></h3>
	          <ul class="nav">
	            
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle">Focus: <%= subdomain_name %></a>
	              <ul class="dropdown-menu">
					  <li><a href="<%= request.protocol %>commissioner.<%= request.domain + request.port_string %>">Commissioner</a></li>
					  <li><a href="<%= request.protocol %>oa.<%= request.domain + request.port_string %>">OA</a></li>
	                <li class="divider"></li>
					    <li><a href="<%= request.protocol %><%= request.domain + request.port_string %>">None</a></li>
	              </ul>
	            </li>
	            <% if request.subdomain == 'oa' %>
	            <li><a href="/lodges">Lodges</a></li>
	            <li><a href="/chapters">Chapters</a></li>
	            
	            <% else %>
	            
                <% if current_user && available_councils.count == 1 %>
                    <li><%= link_to available_councils.first.name, available_councils.first %></li>
    	        <% elsif current_user && available_councils.count > 1 %>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle">Councils</a>
	              <ul class="dropdown-menu">
	                <% available_councils.each do |c| %>
										<li><%= link_to truncate(c.name, :length => 20), c %></li>
									<% end %>
	                <li class="divider"></li>
	                <li><a href="/councils">List All</a></li>
	              </ul>
	            </li>
	            <% end %>
	            <li><a href="/divisions">Divisions</a></li>
	            <li><a href="/districts">Districts</a></li>
	            <li><a href="/units">Units</a></li>
	            <li><a href="/organizations">Organizations</a></li>
	            
	            <% end %>
	          </ul>
	        <% unless current_user %>
            <form action="/sessions" class="pull-right" method="post">
                <input class="input-small" type="text" placeholder="Username" name="email">
                <input class="input-small" type="password" placeholder="Password" name="password">
                <button class="btn primary" type="submit">Sign in</button>
            </form>
            <% else %>
	          <ul class="nav secondary-nav">
				<li></li>	
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle"><%= gravatar_for current_user, :size => 25 %> <%= current_user.name %></a>
	              <ul class="dropdown-menu">
	                <li><%= link_to "Profile", current_user %></li>
	                <li><a href="#">Recent Activity</a></li>
	                <li class="divider"></li>
	                <li><a href="/logout">Logout</a></li>
	              </ul>
	            </li>
	          </ul>
	         <% end %>
	        </div>
	      </div><!-- /topbar-inner -->
	    </div>

<div class="container">
	<div class="content-wrapper">
		<% flash.each do |key, msg| %>
		    <%= content_tag :div, msg, :class => [key, " alert-message"], :id => "notice_ #{key}" %>
		    <%= content_tag :script, :type => "text/javascript" do -%>
		        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
		    <% end %>
		<% end %>
   
		<%= yield %>
	</div>
  <footer>
    &copy; <%= Date.today.year %> Scout Made (or something like that.)
  </footer>
</div>

</body>
</html>
